@model BCInsight.Models.VendorportalloginViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

                <h1 class="m-0">Change Password</h1>

            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Horizontal Form -->
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Change Password</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data", id = "changepasswordModulefrm" }))
    {
        <div class="card-body">
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">User <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(c => c.fullname, new { @type = "text", @class = "form-control", placeholder = "User", @readonly = "readonly", @maxLength = "50" })
                    @Html.ValidationMessageFor(m => m.fullname, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Old Password <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    <div class="input-group" id="show_hide_password">
                        @Html.TextBoxFor(c => c.Oldpassword, new { @type = "Password", @class = "form-control fas fa-eye", placeholder = "Password", @maxLength = "50" })
                        <div class="input-group-addon">
                            <span id="Showhidepasswordold" class="fas fa-eye-slash form-control" aria-hidden="true"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Oldpassword, "", new { @class = "error Oldpassword" })
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">new Password <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    <div class="input-group" id="show_hide_passwordold">
                        @Html.TextBoxFor(c => c.Newpassword, new { @type = "Password", @class = "form-control fas fa-eye", placeholder = "New Password", @maxLength = "50" })
                        <div class="input-group-addon">
                            <span id="Showhidepassword" class="fas fa-eye-slash form-control" aria-hidden="true"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Newpassword, "", new { @class = "error Newpassword" })
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Conform Password <span class="requiredSign">*</span></label>
                <div class="col-sm-10">
                    <div class="input-group" id="show_hide_passwordC">
                        @Html.TextBoxFor(c => c.CNewpassword, new { @type = "Password", @class = "form-control fas fa-eye", placeholder = "New Password", @maxLength = "50" })
                        <div class="input-group-addon">
                            <span id="CShowhidepassword" class="fas fa-eye-slash form-control" aria-hidden="true"></span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.CNewpassword, "", new { @class = "error CNewpassword" })
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button id="changepasswordSubmitbtn" class="btn btn-primary">Change Password</button>
        </div>
        <div class="login-error" style="color:red;">@TempData["loginfail"]</div>
        <!-- /.card-footer -->
    }
</div>
<!-- /.card -->
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $("#Showhidepasswordold").click(function () {
            if ($('#Oldpassword').attr("type") == "text") {
                $('#Oldpassword').attr('type', 'password');
                $('#Showhidepasswordold').addClass("fa-eye-slash");
            }
            else {
                $('#Oldpassword').attr('type', 'text');
                $('#Showhidepasswordold').addClass("fa-eye");
            }
        });
        $("#Showhidepassword").click(function () {
            if ($('#Newpassword').attr("type") == "text") {
                $('#Newpassword').attr('type', 'password');
                $('#Showhidepassword').addClass("fa-eye-slash");
            }
            else {
                $('#Newpassword').attr('type', 'text');
                $('#Showhidepassword').addClass("fa-eye");
            }
        });
        $("#CShowhidepassword").click(function () {
            if ($('#CNewpassword').attr("type") == "text") {
                $('#CNewpassword').attr('type', 'password');
                $('#CShowhidepassword').addClass("fa-eye-slash");
            }
            else {
                $('#CNewpassword').attr('type', 'text');
                $('#CShowhidepassword').addClass("fa-eye");
            }
        });

        $("#changepasswordSubmitbtn").click(function () {
            debugger
            var flag = true;
            var oldpass = '', newpass = '', cpassword = '';
            var OPass = $("#Oldpassword").val();
            var NPass = $("#Newpassword").val();
            var CPass = $("#CNewpassword").val();
            if (IsNullOrUndefined(OPass)) {
                oldpass = "Required Old Password";
                flag = false;
            }

            if (IsNullOrUndefined(NPass)) {
                newpass = "Required New Password";
                flag = false;
            }
            if (IsNullOrUndefined(CPass)) {
                cpassword = "Required Conform Password";
                flag = false;
            }
            if (!flag) {
                $(".Oldpassword").html(oldpass);
                $(".Newpassword").html(newpass);
                $(".CNewpassword").html(cpassword);
                return false;
            }
            else {
                if (CPass != NPass) {
                    alert("Password Not match");
                    return false;
                }
                else {
                    $("#ajax-loader").show();
                    $("#changepasswordModulefrm")[0].submit();
                }

            }

        });
        function IsNullOrUndefined(pvalue) {
            return pvalue === undefined || pvalue === null || pvalue === '';
        }
    });

</script>