@model List<BCInsight.DAL.tblAdminUser>
@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Management</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">User Management</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title float-right">
            <a href="@Url.Action("Register","Login")" type="button" class="btn btn-primary btn-block btn-sm "><i class="fa fa-plus"></i> ADD</a>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <table id="Usermgmttable" class="display compact w-100 table-bordered">
            <thead>
                <tr>
                    <th>Login Id</th>
                    <th>Name</th>
                    <th>User Type</th>
                    <th>Is Active</th>
                    <th data-orderable="false">Edit / Delete</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.loginId</td>
                    <td>@item.fullName</td>
                    <td>@item.userType</td>
                    <td>@Html.CheckBoxFor(x => item.isActive, new { @class = "form-control", disabled = "disabled", @Id = item.admin_id })</td>

                    <td>
                        <a href="@Url.Action("Register", "Login", new { Id = item.admin_id })" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>

                        <span onclick="return confirm('Are you sure to delete')">
                            <a href="@Url.Action("deleteUser", "Login", new { Id = item.admin_id })" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </span>

                    </td>

                </tr>
                }
            </tbody>
        </table>
        }
    </div>
    <!-- /.card-body -->
</div>
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    $(function () {
        $("#Usermgmttable").DataTable({
            "responsive": true,
            "lengthChange": true,
            "autoWidth": false,
            "language": {
                "emptyTable": "User not found"
            },
            "columnDefs": [
                { "width": 100, "targets": 1, className: "text-center" }
            ]
        });
    });
</script>
